@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
    color: #030F11;
    text-align: justify;
}

#content {
    margin: 5%;
}

a {
    color: #fafafa;
}

a:hover {
    color: #030F11;
    text-decoration: none;
}

.navbarLink {
    margin: 10px;
}

.Login, .Cadastro, .resetPassword {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formLinks a {
    color: #17A2B8;
}

.formLinks a:hover {
    color: #030F11;
}

.registerButton a {
    color: #17A2B8;
}

.registerButton a:hover {
    color: #fff;
}

.loginFormButtons {
    display: flex;
    justify-content: space-between;
}

.solicitacao {
    margin-top: 15px;
    margin-bottom: 15px;
}

.solicitacaoItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authenticationForm {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formItems {
    display: flex;
    flex-direction: column;
}

.formLinks {
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
}

.passwordFormGroup {
    margin-bottom: 0;
}

.simpleCard {
    height: 50px;
}

